img {

	width: 30%;
	float: left;
	margin: 1.66%; 

}
h1{

	margin: 1.66%;
	text-transform: uppercase;
	border-bottom: 1px solid #f1f1f1;
	width: 30%;
	padding-bottom: 15px;
	font-family: "Spectral SC";
}